*{
    margin: 0;
    padding: 0;
} 
 
 /* Optional: CSS to style the button */
#mainButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20%;
    margin-left: 40%;
    height: 300px;
    width: 300px;
    background-color: blue;
    box-shadow: 4px 4px 4px black;
}